{% extends 'base.html.twig' %} {% block title %}Club de musique Berckois{% endblock %} {% block body %}
<section class="margin jumbotron banner jumbotron-fluid text-center">
    <video id="video" autoplay="true" loop muted>
        <source src="{{asset('image/video.mp4')}}"></source>
    </video>
    <div class="container main">
        <div class="contentBox">
            <h1 class="h2-responsive mb-3" id="titre"></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et itaque assumenda eum consectetur minus? Quasi, cupiditate. Libero quam impedit, ipsa sint quis vel, tenetur expedita labore commodi non sit dicta pariatur ducimus voluptatibus?</p>
        </div>
    </div>
</section>


<section class="container-fluid ">
    <h2 class="text-center">Projet du club</h2>
    <div class="container video-projet my-3">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 p-md-3">
                <h3>Lorem ipsum dolor sit amet </h3>
                <p>
                    Description PROJET de l'Ecole d'enseignement Musicale de Berck sur Mer 62600 FRANCE, par le conseil d'administration du Club Musical de Berck sur Mer, qui est d'intérêt général pour les particuliers et entreprises le Club peut recevoir des dons, en contre
                    partie de bon de défiscalisation conforme à la loi.
                </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <iframe class="mx-auto" style="width: 480px; height:320px;" src="https://www.youtube.com/embed/UIu5fk_fKq8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <hr class="my-3" style="width:50%; height:3px;border:none;color:#333;background-color:#333;">
    <div class="container video-projet my-3">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 d-flex justify-content-center">
                <iframe style="width: 480px; height:320px;" src="https://www.youtube.com/embed/mVWBOM5DJBM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 p-md-3">
                <h3>Lorem ipsum dolor sit amet </h3>
                <p>
                    Présentation du PROJET de l'Ecole de Musique de Berck sur Mer 62600 par le conseil d'administration du Club Musical de Berck
                </p>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid mt-3" style="padding:4.5rem; background:#000">
    <div class="row mx-auto">
        <blockquote class="text-center text-white mx-auto" id="live"></blockquote>
        <!-- <div class="belongTo hidden " id="belongTo"><i>Nietzsche</i></div> -->
    </div>
</div>

<section id="about">
    <div id="about-bg-diagonal">
    </div>
    <div id="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="about-content-box">
                    <div class="about-content-box-outer">
                        <div class="about-content-box-inner">
                            <div class="content-title">
                                <h3><b>ECOLE DE MUSIQUE</b></h3>
                                <div class="content-title-underline">

                                </div>
                            </div>
                            <div id="about-desc">
                                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita exercitationem amet cupiditate labore reprehenderit consequuntur quae atque ipsum nihil?</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div id="about-bg-diagonal-left">
    </div>
    <div id="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="about-content-box-right">
                    <div class="about-content-box-outer">
                        <div class="about-content-box-inner">
                            <div class="content-title-right">
                                <h3><b>ORCHESTRE</b></h3>
                                <div class="content-title-underline-right">

                                </div>
                            </div>
                            <div id="about-desc-right" style="clear:both;">
                                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita exercitationem amet cupiditate labore reprehenderit consequuntur quae atque ipsum nihil?</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %} {% block javascripts %}
<script>
    var i = 0;
    var j = 0;
    var txt = 'Sans la musique, la vie serait une erreur...';
    var txt2 = 'Club musical de Berck-sur-mer';
    var speed = 50;
    const typing2 = () => {
        if (j < txt2.length) {
            document.getElementById('titre').innerHTML += txt2.charAt(j);
            j++;
            setTimeout(typing2, speed);
        }

    };
    const typing = () => {
        if (i < txt.length) {
            document.getElementById("live").innerHTML += txt.charAt(i);
            i++;
            setTimeout(typing, speed);
        } else {
            document.getElementById('live').classList.add("live");
            document.getElementById('belongTo').classList.add("fade-in");
            document.getElementById('belongTo').classList.remove("hidden");
        }

    };


    console.log(document.getElementById('titre'));




    typing();
    typing2();
</script>
{% endblock %}