{% extends 'base.html.twig' %} {% block title %}Club de musique Berckois{% endblock %} {% block body %}
<section class="margin jumbotron text-center bg-white col-12">
    <h1>Bienvenue sur le site du club musical de Berck-sur-mer</h1>
</section>

<section class="row">
    <div class="col-8">
        <h2>Présentation</h2>
    </div>
    {{ include('blog/sidebar.html.twig')}}
</section>
{% endblock %}