{% extends 'base.html.twig' %} {% block title %}Club de musique Berckois{% endblock %} {% block body %}
<section class="margin jumbotron banner jumbotron-fluid text-center">
    <video id="video" autoplay="true" loop muted>
        <source src="{{asset('image/boucle.mov')}}"></source>
    </video>
    <div class="container main">
        <div class="contentBox">
            <h1>Club musical de Berck-sur-mer</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et itaque assumenda eum consectetur minus? Quasi, cupiditate. Libero quam impedit, ipsa sint quis vel, tenetur expedita labore commodi non sit dicta pariatur ducimus voluptatibus? Possimus
                quae consequuntur, pariatur, impedit culpa distinctio maxime nam ab doloribus laborum neque velit illum, harum dolores?</p>
        </div>
    </div>
</section>

<section class="container-fluid ">
    <div class="row">
        <div class="col-md-9">
            <h2>Présentation</h2>
        </div>
        {{ include('blog/sidebar.html.twig')}}
    </div>
</section>
{% endblock %}