.navbar.navbar-expand-lg.navbar-dark {
    background-color: #000000 !important;
    border: none !important;
}

.d-flex {
    justify-content: center;
    align-items: center;
}

.dropdown-menu {
    background-color: #fff;
    border-radius: 0;
    padding: 0px;
}

.dropdown-item {
    color: #000;
    padding: 10px 20px !important;
}

.dropdown-item:hover {
    color: rgb(255, 255, 255) !important;
    background-color: #000;
}

.header {
    background-color: #262626;
}

.btn-widget {
    border: 2px solid white;
    color: white;
}

.btn-widget:hover {
    color: white !important;
}

.count-widget .fa,
.count-widget span {
    font-size: 30px;
}

#musicien_imageFile_file {
    display: none;
}

.custom-file-label::after {
    border-radius: 0;
    background-color: #fff;
    color: #000;
}