body {
    background: url('../image/berck.jpg') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}
.pagination .page-item .page-link{
    color: black!important;
    background-color: white!important;

}
.titre{
    background-color: rgba(255,255,255,0.5)
}

/* Start http://www.cursors-4u.com */ * {cursor: url(http://cur.cursors-4u.net/others/oth-5/oth480.cur), auto !important;} /* End http://www.cursors-4u.com */