h5,
ul {
    color: black;
}

.container_block {
    display: flex;
    justify-content: space-evenly;
}

.bloc {
    align-items: flex-start;
    justify-content: space-evenly;
}

.bloc ul {
    list-style-type: none;
}

.bloc a {
    color: #888;
}

.bloc a:hover {
    color: #000;
}

ul {
    padding-left: 0;
}

li,
h5 {
    text-align: center;
}