@import url('https://fonts.googleapis.com/css?family=Amaranth&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Amaranth', cursive;
}


/******\
STYLE CSS GENERIQUE
\******/

body {
    background-color: #fff !important;
}

a:hover {
    text-decoration: none !important;
}

.connexion:hover {
    transform: rotate(360deg);
}

.margin {
    margin-top: 54px;
}

.navbar.bg-dark {
    background: rgb(103, 189, 247) !important;
    border: none;
}

.nav-item {
    font-size: 15px;
}

.navbar.navbar-expand-lg.fixed-top a {
    position: relative;
    color: #fff !important;
    transition: 0.5s;
}

.navbar.navbar-expand-lg.fixed-top li:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
}

#video {
    position: absolute;
    background-size: cover;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
}

.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.banner h1 {
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
}

.banner p {
    color: #fff;
}

.main {
    z-index: 10;
}

.navbar {
    transition: 0.5s;
    background-color: #000000;
    border-bottom: 2px solid white;
    height: 80px;
}

hr {
    height: 3px;
    background-color: #000;
}

h2,
h3 {
    color: #000 !important;
}

.btn {
    cursor: pointer;
}

.img_widget {
    display: block;
    height: 75px;
    width: 75px !important;
}

.img_widget img {
    /* width: 100%; */
    height: 75px;
}

.professeur {
    justify-content: center;
}


/** FOOTER **/

.separator {
    border-color: #eee;
}

footer .row {
    color: rgb(0, 0, 0);
}

.connexion {
    border-radius: 20px !important;
    width: 150px;
}

.social {
    font-size: 30px !important;
}


/* Start http://www.cursors-4u.com */

* {
    cursor: url(http://cur.cursors-4u.net/others/oth-5/oth480.cur), auto !important;
}


/* End http://www.cursors-4u.com */