{% extends 'base.html.twig' %} {% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/edm.css')}}"> {% endblock %} 
{% block body %} 
{% for i in 0..64 %}
 <p>* {{ i }}</p>
{% endfor %}
{% endblock %}