{% extends 'base.html.twig' %} {% block title %}Les professeurs{% endblock %} {% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/edm.css')}}">{% endblock %} {% block body %}
<div class="col-12 margin text-center">
    <h2 class="h1 text-white">Nos professeurs</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet hic, esse minima quasi perspiciatis reiciendis repellat fuga! Nisi veritatis voluptatibus molestiae assumenda obcaecati debitis corrupti, adipisci vero magni consequatur autem? Dignissimos
        dolorum rem dicta sint neque assumenda libero, voluptate inventore itaque ipsam eos labore ad iusto quos repudiandae, officia quisquam.</p>

</div>
<div class="row professeur m-auto">
    <div class="col-md-4 my-5">
        <div class="card text-center bg-white">
            <img class="card-img-top" src="http://placehold.it/350x150" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Nom du professeur</h5>
                <p class="card-text">Some quick example text to build on the Nom du professeur and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 my-5">
        <div class="card text-center bg-white">
            <img class="card-img-top" src="http://placehold.it/350x150" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Nom du professeur</h5>
                <p class="card-text">Some quick example text to build on the Nom du professeur and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 my-5">
        <div class="card text-center bg-white">
            <img class="card-img-top" src="http://placehold.it/350x150" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Nom du professeur</h5>
                <p class="card-text">Some quick example text to build on the Nom du professeur and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 my-5">
        <div class="card text-center bg-white">
            <img class="card-img-top" src="http://placehold.it/350x150" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Nom du professeur</h5>
                <p class="card-text">Some quick example text to build on the Nom du professeur and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 my-5">
        <div class="card text-center bg-white">
            <img class="card-img-top" src="http://placehold.it/350x150" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Nom du professeur</h5>
                <p class="card-text">Some quick example text to build on the Nom du professeur and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
        </div>
    </div>
</div> {% endblock %}