{% extends 'base.html.twig' %} {% block title %}Les professeurs{% endblock %} {% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/swiper.min.css')}}">
<link rel="stylesheet" href="{{asset('css/edm.css')}}">{% endblock %} {% block body %}
<div class="col-12 margin text-center">
    <h2 class="h1 text-white">Nos professeurs</h2>
</div>
<!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="card-title">
                <h3>Image du professeur</h3>
            </div>
            <div class="card-content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, libero. Numquam fuga quam amet eveniet minus, nesciunt reprehenderit, sit quia sint ad expedita magni laudantium dolore ut repudiandae tenetur. Dolorum!</p>
                <a href="#">Read more</a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card-title">
                <h3>Image du professeur</h3>
            </div>
            <div class="card-content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, libero. Numquam fuga quam amet eveniet minus, nesciunt reprehenderit, sit quia sint ad expedita magni laudantium dolore ut repudiandae tenetur. Dolorum!</p>
                <a href="#">Read more</a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card-title">
                <h3>Image du professeur</h3>
            </div>
            <div class="card-content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, libero. Numquam fuga quam amet eveniet minus, nesciunt reprehenderit, sit quia sint ad expedita magni laudantium dolore ut repudiandae tenetur. Dolorum!</p>
                <a href="#">Read more</a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card-title">
                <h3>Image du professeur</h3>
            </div>
            <div class="card-content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, libero. Numquam fuga quam amet eveniet minus, nesciunt reprehenderit, sit quia sint ad expedita magni laudantium dolore ut repudiandae tenetur. Dolorum!</p>
                <a href="#">Read more</a>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="card-title">
                <h3>Image du professeur</h3>
            </div>
            <div class="card-content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, libero. Numquam fuga quam amet eveniet minus, nesciunt reprehenderit, sit quia sint ad expedita magni laudantium dolore ut repudiandae tenetur. Dolorum!</p>
                <a href="#">Read more</a>
            </div>
        </div>

    </div>
</div>
{% endblock %} {% block javascripts %}
<script src="{{asset('js/swiper.min.js')}}"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        pagination: {
            el: '.swiper-pagination',
        },
    });
</script>
{% endblock %}