{% extends 'base.html.twig' %} {% block stylesheets%}

<link rel="stylesheet" href="{{asset('css/dateline.css')}}"> {% endblock %} {% block body %}
<!-- BANDEAU -->

<div class="jumbotron jumbotron-fluid margin bandeau_instrument">
    <h2 class="h2-responsive text-center text-white d-flex align-items-center ">Historique</h2>
</div>

<!-- TIMELINE -->
<section class="margin container bg-white col-8">

    <div class="timeline-container">

        <ul class="timeline">
            {% for event in events %}
            <li>
                {# Boucle permettant de mettre une fois sur 2 le texte à droite #}
                <div class="direction-{% if loop.index0 % 2 == 0 %}r{% else %}l{% endif %}">
                    <div class="flag-wrapper">
                        <span class="hexa"></span>
                        {# affiche la date #}
                        <span class="time-wrapper"><span class="time">{{event.date}}</span></span>
                    </div>
                    {# affiche l'évènement #}
                    <div class="desc">{{event.evenements | raw}}</div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

{% endblock %}