<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{{ path('home')}}">Club de Musique</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home')}}"><i class="fa fa-home"></i> Accueil</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('blog')}}">Blog</a>
                        </li>
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Ecole de Musique
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Intruments enseignés</a>
                                <a class="dropdown-item" href="#">Les professeurs</a>
                                <a class="dropdown-item" href="#">Géolocalisation</a>
                                <a class="dropdown-item" href="#">Tarifs d'inscription</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Orchestre
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Dynamisme de l'orchestre</a>
                                <a class="dropdown-item" href="#">Histoire et culture</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Informations supplémentaires
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Page Historique</a>
                                <a class="dropdown-item" href="#">Page mécénat</a>
                                <a class="dropdown-item" href="#">Page revue de presse</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                    <a href="#" class="text-dark float-right mr-4 connexion"><i class="fa fa-user"></i></a>
                    
                </div>
            </nav>
            <div class="container-fluid text-dark p-5 m-5">
                <div class="row">
                    {% block body %}
                    {% endblock %}
                    <aside class="sidebar col-3 text-center">
                        <h4 class="text-black">Articles récents</h4>
                        <hr>
                    </aside>
                </div>
            </div>
            <footer class="page-footer">
                <div class="container-fluid p-5 m-5">
                    <h1>Footer</h1>
                </div>
            </footer>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
        {% block javascripts %}{% endblock %}
    </body>
</html>
