{% extends 'base.html.twig' %} 
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/swiper.min.css')}}">
<link rel="stylesheet" href="{{asset('css/orchestre.css')}}">
{% endblock %}

{% block body %}
<!-- BANDEAU -->

<div class="jumbotron jumbotron-fluid margin bandeau_instrument">
    <h2 class="h2-responsive text-center  text-white d-flex align-items-center ">Documents Inscription</h2>
</div>

{% endblock %}